<div class="cont-empresa">
  <h5>INFORMACIÓN DE LA EMPRESA</h5>
  <div class="cont-list">
    <ul *ngFor="let item of empresa">
      <li>
        <h6><b>Nombre</b></h6>
        <p>{{item.nombre}}</p>
      </li>
      <li>
        <h6><b>Fecha de creación</b></h6>
        <p>{{item.fecha}}</p>
      </li>
      <li>
        <h6><b>Dirrecion</b></h6>
        <p>{{item.direccion}}</p>
      </li>
      <li>
        <h6><b>Número de teléfonos</b></h6>
        <p>{{item.numero.celular}}</p>
        <p>{{item.numero.fijo}}</p>
      </li>
      <li>
        <h6><b>Sitio Web</b></h6>
        <p>{{item.sitioWeb}}</p>
      </li>
    </ul>
  </div>
</div>
