<div class="main-content">
  <div class="search-section">
      <h1>¿Que quieres buscar?</h1>
      <p>Encuentra la información que desees consultar ...</p>
      <div class="search-bar">
          <select>
              <option value="all">Todos los servicios</option>
          </select>
          <input type="text" placeholder="¿Qué servicio quieres consultar?">
          <button><i class="bi bi-search"></i></button>
      </div>
      <div class="cards-section">
          <div class="card">
              <h3>Certificado</h3>
              <p>Conoce los beneficios que tenemos para ti al registrarte</p>
              <button>+ beneficios</button>
          </div>
          <div class="card">
              <h3>Crear cuenta</h3>
              <p>Conoce los beneficios que tenemos para ti al registrarte</p>
              <button>Ver todo</button>
          </div>
          <div class="card">
              <h3>Top trámites</h3>
              <p>Conoce los trámites más solicitados.</p>
              <button>Ver todo</button>
          </div>
      </div>
  </div>
  <div class="side-section">
      <img src="../../../../assets/img/resource-1.png" alt="Servicios Quipux">
      <h2>SERVICIOS QUIPUX</h2>
      <p>Ahora podrás hacer todos tus trámites desde la comodidad de tu casa, desde cualquier dispositivo: computadora, tablet o móvil.</p>
  </div>
</div>
