 <nav #sidebar class="sidebar" >
  <ul>
    <li [ngClass]="{'li-logo-close' : menuIsActive === false}">
      <button (click)="toggleSidebar()" id="toggle-btn"  #toggleButton>
        <span  height="24px" width="24px" ><i class="bi bi-list" style="font-size: 25px; color: white;"></i></span>
      </button>
      <span *ngIf="menuIsActive === true" class="logo-qx"><img src="../../../../assets/img/logo.png" width="100px" alt="Logo" style="background-color: white;"></span>
    </li>
    <li *ngFor="let item of menuItems">
      <button (click)="toggleSubMenu($event)" class="dropdown-btn"  >
        <span height="24px"  width="24px" ><i class={{item.icon}} style="font-size: 25px; color: white;"></i></span>
        <span #tituloSeccion>{{item.nombre}}</span>
        <span *ngIf='item.subMenu' height="24px" viewBox="0 -960 960 960" width="24px" ><i class="bi bi-chevron-down" style="color: white;"></i></span>
      </button>
      <ul class="sub-menu" *ngIf='item.subMenu'>
        <div>
          <li *ngFor="let nombreSubMenu of item.nombreEmpresa"  >
            <a [routerLink]="[ '/', item.reouterLink]" routerLinkActive="active" (click)="setNombreSeccion(nombreSubMenu, item.seccion)">{{nombreSubMenu}}</a>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</nav>
