
.contenedor-empresa{
  padding: 20px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns:40% 60%;
  background-color: #ddd;
  position: absolute;
  top: 0;
  left: 0;
  gap: 15px;
}
.info-empresa{
  width: 100%;
}
.info-contacto{
  width: 100%;
}

