
.container-img{
  height: 180px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.cont-img-articulo{
  display: flex;
  justify-content: center;
}
.container-articulos{
  height:325px;
  overflow-y: auto;
  overflow-x: hidden;
  display: grid;
  row-gap: 10px;
  grid-template-columns: auto auto auto;
}
.container-articulos::-webkit-scrollbar {
  border-radius: 10px;
  width: 8px;
}
.container-articulos::-webkit-scrollbar-thumb {
  background-color: #919191;
}
.container-card img{
  height:80px;
  width:80px;
  border-radius: 50px;
  border: 1px solid rgb(170, 170, 170);
}
.container-card h6 {
 text-align: center;
 font-size: medium;
}
.container-card p {
  text-align: center;
  font-size: small;
}
.container-img-articulo{
  text-align: center;
}
