.container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 45% 1fr;
  background-color: #ddd;
  top: 0;
  left: 0;
  row-gap: 10px;
  justify-items: center;
  padding: 0px;
}
.container-articulos{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-y: auto;
  overflow-x: hidden;
  height: 295px;
}
.container-carousel{
  height: 250px;
  width: 100%;
  background-color: white;
}

.container-imagen{
  display: grid;
  justify-items: center;
  height: 240px;
}

.carousel-control-prev-icon{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 15.354a.5.5 0 0 1-.708 0l-8-8a.5.5 0 0 1 0-.708l8-8a.5.5 0 1 1 .708.708L3.707 7.5l7.647 7.646a.5.5 0 0 1 0 .708z'/%3E%3C/svg%3E");

}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 15.354a.5.5 0 0 1 0-.708L12.293 7.5 4.646.854a.5.5 0 1 1 .708-.708l8 8a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708 0z'/%3E%3C/svg%3E");
}
